.product-grid .content .prod-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-grid {
  width: 100%;
  max-width: 100vw;
  margin: 40px 0;
}

.prod-grid .prod-card {
  height: 350px;
  width: 250px;
  background: var(--pure-white);
  display: flex;
  flex-direction: column;
  border: solid 1px var(--border-color);
}
