.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 350px;
  margin: 20px;
  border: solid 1px #e4e4e4;
}

.product-image {
  height: 230px;
  width: 230px;
  margin: 10px;
}
.image-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

.image-container.selected {
  height: 500px;
}

.main-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

.product-info {
  flex: 1;
  display: flex;
  border-top: solid 1px #e4e4e4;
}

.buttons {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.add,
.remove {
  width: 20px;
  height: 20px;
  border: solid 1px #00c385;
  color: #00c385;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.added-items {
  background: #ff9017;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.desc {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
}
